# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
ENV/
env/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Excluded Directories (Documentation & Rendered Figures)
docs/
figures/

# System Files
.DS_Store
Thumbs.db
desktop.ini
