# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
ENV/
env/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Excluded Directories (Documentation, Figures, Data, and Serialized Models)
docs/
figures/
data/
models/

# Excluded Data & Image Files
*.csv
*.joblib
*.pkl
*.jpg
*.png

# System Files
.DS_Store
Thumbs.db
desktop.ini


